@model IEnumerable<MyAspTest.Models.User>
@{
    ViewData["Title"] = "Все пользователи";
}

<a asp-action="Create">Добавить пользователя</a>
<table class="table">

    <tr><td>Имя</td><td>Фамилия</td><td>Телефон</td><td>Позиция</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.Surname</td><td>@item.Phone</td><td>@item.UserPosition.Name</td></tr>
    }

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.Name
            </td>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-all-route-id="@item.ID">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.ID">Изменить</a> |
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
    }

</table>
